body{
    padding: 0%;
    margin: 0%;
}
.background{
    background-color: orangered;
    height: 100vh;
    width: 100%;
}
.head{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    font-weight: bold;
    padding: 0 30px;
}
.name{
    padding: 10px 60px;
    color: rgb(0, 255, 242);
    background-color: white;
    clip-path: polygon(0 0, 100% 0, 85% 100%,15% 100%);

}
.id-pokemon{
    color: white;

}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-pokemon{
    margin: 10px;
    padding: 10px;
    border-radius: 100%;
    background-color: rgb(255, 255, 255);
}
.img > img {
    border-radius: 100%;
    background-color: black;
}
.footer{
    margin-top: -100;
    padding: 60px;
    position: relative;
    background-color: white;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tags{
    display: flex;
    width: 30%;
    justify-content: space-around;
    margin: 10px;
}
.tag{
    width:  fit-content;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    color: white;
    font-size: 13px;
}
.stats{
    margin: 2%;
    display: flex;
    flex-direction: column;

}
.title-stats{
    font-size: 20px;
    font-weight: bold;
    color: cyan;
    margin: auto;

}
.row{
    display: flex;
    margin: auto;
    padding: 10px;
}
.stat{
    font-size: 15px;
    font-weight: bold;
    margin-right: 10px;

}